body{
	background-color: #232323;
	font-family: "Montserrat", "Avenir";
	margin: 0;
}
h1{
	color: white;
	text-align: center;
	background-color: steelblue;
	margin: 0;
	padding: 20px;
	text-transform: uppercase;

}

button {
	height: 100%;
	outline: none;
	border: none;
	text-transform: uppercase;
}

#stripe{
	background-color: white;
	height: 30px;
	text-align: center;
}

#container {
	max-width: 600px;
	margin: 20px auto;
}
#gameMode{
	font-size: 200%;
}
#message{
	display: inline-block;
	width: 20%;
}
.square{
	width: 30%;
	padding-top: 25%;
	float: left;
	margin: 1.66%;
	background-color: white;
	border-radius: 15px;

}
